@charset "UTF-8";
@import url(../../../../Scripts/Reference/jQuery/JQueryUi_bs/css/jquery-ui-1.9.2.custom.css);
@import url(../../yinhoo.css);
@import url(../../base.css);
/*-@0100----全局开始-----*/
#yh-layout{ height:auto;}
body {
  background-color: #ffffff;
  font-family: "Microsoft Yahei"!important;
  font-size: 12px!important; }

a {
  text-decoration: none;
  color:inherit;
 }

#container {
  background-image: none;
  width: auto;
  padding: 0px;
  margin-top: 0px;
  font-size:12px; }
#footer{ font-size:12px; position:fixed; bottom:0px; height:32px; line-height:32px; background-color:#fff; border-top:1px solid #e1e1e1; width:100%; text-align:center; color:#7b7b7b; z-index:1000; }
/*@0810************页面层-共用*********/
.p-content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }
.p-pageLeft{width:780px; float:left; border-right:1px solid #e1e1e1; padding-right:40px;}
.p-contextualMap{ width:100%; height:600px;}
.p-note{color:#333333; margin-top:10px;}
.p-pageRight{width:350px; height:640px; float:right;}
.p-column{ margin-bottom:40px;}
.p-column .title{border-bottom:1px solid #c3c3c3; padding-bottom:8px; color:#333333; font-size:16px; font-weight:bold;}
.p-column .contain{padding:15px; font-size:14px; color:#333333;}
.p-column .contain_nav{ padding:15px 30px;}
.p-column .contain_nav li{ margin-bottom:10px;}
.p-column .contain_tag{ overflow:hidden;}
.p-column .contain_tag li{ float:left; margin-right:12px; margin-bottom:10px;}
.p-column .contain_tag li a{border-radius:6px; padding:4px 12px; background-color:#ebebeb; color:#444; display:inline-block; }
.p-column .contain_hot{ overflow:hidden;}
.p-column .contain_hot li{ float:left; margin-right:18px; margin-bottom:13px;}

/****搜索结果-列表start****/
.p-searcList > li{ border-bottom:1px dotted #d4d4d4; padding-bottom:8px; }
.p-searcList .p-fileTit{ color:#1359a5; font-size:14px; margin:8px 0; }
.p-searcList .p-fileTit .select{ color:#c6122c;}
.p-searcList .p-fileTit .legend{ background-color:#0d57a9; color:#fff; font-size:12px; margin-right:5px; display:inline-block; width:16px; text-align:center;}
.p-searcList .p-filemark{ color:#999;}
.p-searcList .p-fileTit p { display:inline;}
/****搜索结果-列表end****/
/*@0810************页面层-共用END*********/
/*-----登录页-旧规则样式-----*/
.body_sign {
  background: #eaeaea; }

.body_bg01 {
  height: 100%;
  background: url(../../../images/client/InfoExpert/bg_1.png) -20% top no-repeat;
  position: absolute;
  width: 100%;
  z-index: 10; }

.body_bg02 {
  height: 100%;
  background: url(../../../images/client/InfoExpert/bg_1.png) right top no-repeat; }

.body_bg03 {
  height: 800px;
  background: url(../../../images/client/InfoExpert/body_bg03.png) right bottom no-repeat;
  position: absolute;
  bottom: 0;
  width: 100%; }

.sign_in_box {
  width: 840px;
  margin: 0 auto;
  /* border:1px solid #000;*/
  padding: 220px 60px 60px 60px;
  background: url(../../../images/client/InfoExpert/sign_in_box.png) left top no-repeat; }

.sign_left {
  width: 380px;
  float: left;
  /* border:1px solid #000;*/ }

.sign_left .sign_logo {
  width: 350px;
  height: 100px;
  background: url(../../../images/client/InfoExpert/mz_logo.png) no-repeat left center;
  margin-left:180px;
  margin-top: 20px; }

.sign_right {
  width: 400px;
  padding-left: 20px;
  float: left;
  background: rgba(0, 0, 0, 0) url("../../../images/client/InfoExpert/sign_right_line_bg.png") no-repeat scroll left center;
   }

.sign_right table {
  font-size: 14px; }

.sign_right table td {
  padding: 3px 2px; }

.sign_in_box .user_name, .sign_in_box .user_name1, .sign_in_box .user_name2, .sign_in_box .user_key, .sign_in_box .user_key1, .sign_in_box .user_key2 {
  width: 186px;
  height: 41px;
  background: url(../../../images/client/InfoExpert/user_info_bg.png) no-repeat; }

input.sign_in_inp {
  color: #414141;
  width: 140px;
  padding: 0;
  box-shadow: none;
  margin: 12px 0 0 38px;
  border: none;
  background: none; }

input.sign_in_inp:focus {
  outline: none; }

.sign_in_box .user_key {
  background-position: left -41px; }

.sign_in_box .user_name1 {
  background-position: left -82px; }

.sign_in_box .user_name2 {
  background-position: left -164px; }

.sign_in_box .user_key1 {
  background-position: left -123px; }

.sign_in_box .user_key2 {
  background-position: left -205px; }

.ts_keep_txt {
  font-size: 12px;
  margin-left: 6px;
  color: #777777; }

.sign_in_button {
  width: 70px;
  height: 33px;
  background: url(../../../images/client/InfoExpert/sign_in_button.png) no-repeat;
  display: inline-block;
  vertical-align: middle; }

a.fet_key {
  font-size: 12px;
  margin-left: 6px;
  color: #d23723; }

.ts_box_txt {
  font-size: 12px;
  color: #d23723;
  background: url(../../../images/icon/12.png) no-repeat left top;
  padding-left: 20px; }

.sign_footer {
  text-align: center;
  color: #999999; }
p.copyright {
    bottom: 30px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
}
/*--end--*/
/*-@0200----头部-----*/
#pagetop {
  margin:0 auto;  box-shadow:0 0 10px #d3d3d3; background-color:#fff; height:62px; border-bottom:3px solid #960721; }

.title_box {
  position: relative; }

.q_entry 
{
  font-size:14px;
  height: 62px;
  line-height:62px; 
  position:absolute;
  right:0;
  color:#333;
  }

.q_entry a{ text-decoration:underline; cursor:pointer;}
.q_entry i{ font-size:14px;}

a.logo {
  width: 126px;
  height: 52px;
  margin-left:8px;
  margin-top:5px;
  float: left;
  background: url("../../../images/client/InfoExpert/nav_logo.png") no-repeat scroll center center}

.p-pageInfoBlock {
  width:1000px;
  margin:0 auto; 
  border-bottom:1px solid #fff;
  overflow: hidden;
  padding-top: 10px; }
  
.p-pageInfoBlock div.h50{ display:none;}
#yh-layout-footer, #yh-layout-content-footerHeight{ height:20px;}
input:focus, textarea:focus {
         border-color: #feb7b7!important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 2px #feb7b7!important;
    }
/*-@0220----头部-搜索框-----*/
.p-top_searchBox{ float:left; position:relative;}
.p-top_searchBox .p-top_search
{
    margin-top:14px; 
    margin-left:45px; 
    padding-left:10px;
    height:30px; 
    width:340px;
    background-color: #fff;
    border:1px solid #e3e3e3;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    line-height: 30px;}
.p-top_searchBox .p-search_select
{
    position:absolute;
    right:10px; 
    top:22px; 
    color: #9d9d9d; 
    font-size:14px; 
    border-left:1px solid #d7d7d7; 
    padding-left:11px;
    width:60px;
    text-align:center;
    }
.p-top_searchBox .p-search_selCon
{
    position:absolute;
    right:0;
    top:40px;
    background-color:#fff;
    border:1px solid #d3d3d3;
    border-radius:4px;
    line-height:28px;
    width:70px;
    padding:2px 5px 0;
    text-align:center;
    cursor:pointer;
    color:#999;
    font-size:14px;
    z-index:100;
	}
.p-top_searchBox .p-search_selCon > ul > li
{
    border-bottom:1px solid #d3d3d3;
	}
.p-top_searchBox .p-search_selCon > ul > li:last-child
{
	border:0 none;
	}
.p-top_searchBox .p-search_selCon > ul > li:hover,.p-top_searchBox .p-search_selCon > ul > li.select
{
	color:#c6122c;
	}
/*-@0220----头部-搜索框END-----*/
/*-@0220----头部-面包屑-----*/
.p-pageInfoBlock .yh-breadcrumb {
  background: url(../../../images/client/ZY/ico0001.png) no-repeat 0px 7px;
  color: #919191;
  border: none;
  border-bottom:1px solid #ccc;
  box-shadow: none;
  padding-bottom:5px; padding-top:5px; line-height:16px;
  margin-bottom: 0px; }

.p-pageInfoBlock .yh-breadcrumb li {
  color: #919191;
  text-shadow: none; }

.p-pageInfoBlock .yh-breadcrumb li a {
  text-shadow: none;
  color: #919191;
  text-decoration: none;
  max-width:100px; }

.p-pageInfoBlock .yh-breadcrumb li.active{ color:#d72525; font-size:16px; font-weight:bold; vertical-align: baseline }

.p-pageInfoBlock .yh-breadcrumb li a.yh-tag{ color:#fff; font-size:10px; line-height:12px; padding-right:3px; font-weight:normal;}

.p-pageInfoBlock h1 {
  font-size: 30px;
  color: #9b212e; }
.p-ml190{
    margin-left:190px;
}
/*-@0230----头部-导航条-旧规则样式-----*/
.nav_lev1_box {
  background-color: #292a2c; }

.nav_lev1_box {
  height: 69px; }

.nav_lev2_box{ width:100px; position:absolute; }

ul.nav_lev1 {
  width: 980px;
  margin: 0 auto;
  padding-top: 18px;
   }
  
#nav_levnone2{ display:none}

ul.nav_lev1 li, ul.nav_lev2 li {
  float: left; }

ul.nav_lev1 li {
  margin-right: 10px;
  height:52px; }

ul.nav_lev1 li a {
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin-left: 1px;
    padding: 0 15px;
    text-decoration: none; }

ul.nav_lev1 li.this {
 }
ul.nav_lev1 li.this a {
    background-color: #8e2525;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
}
ul.nav_lev1 li:hover a {
    background-color: #8e2525;
    color: #fff;
}

.nav_lev2_box {
  clear: both;
  overflow: hidden;
  background-color: #4c4a4f;
  padding: 5px 0; }

ul.nav_lev2 li a {
  display: block;
  line-height: 24px;
  padding: 1px 15px;
  color: #d2ced5;
  white-space: nowrap; }
  
ul.nav_lev2 li a:hover{ color: #eb1d33; text-decoration:none; background-color:#dbdbdc;}

ul.nav_lev2 li{ width:120px;}
ul.nav_lev2 li:last-child a{ padding-bottom:5px;}
ul.nav_lev2 li.this {
   }

ul.nav_lev2 li.this a {
  color: #eb1d33; }

/*-----头部end-----*/
/*-----全局end-----*/
body{ background: url("../../../images/client/InfoExpert/bg_1.png") repeat-y scroll center center; width:100%; height:100%; position:absolute;}
/*-----首页全文搜索start-----*/
.p-search_bg{ background: url("../../../images/client/InfoExpert/bg.png") no-repeat scroll center center; width:100%; height:100%; position:fixed;}
.p-MZlogo{ background: url("../../../images/client/InfoExpert/mz_logo.png") no-repeat scroll center center; width:168px; height:79px; margin:15% auto 20px;}
@media screen and (max-height:720px) 
{
	.p-MZlogo
	{
		margin:12% auto 20px;
	}
}
.p-search_con{ width:480px; margin:0 auto; position:relative; }
.p-search_text{ border:1px solid #d3d3d3; border-radius:4px; background-color:#fff; color:#999; height:42px; line-height:30px; display:block; font-size:16px; width:460px; padding:0 10px; }
.p-search_icon{ position:absolute; right:10px; top:13px; color:#9d9d9d;}
.p-countFile{position: absolute;left: 490px; top: 20px; width:260px; color: #666; }
.p-countFile i { color:#333; text-decoration:underline; }
.p-search_hot{ margin:15px auto; width:480px; font-size:14px; text-align:center;}
.p-search_hot a{ margin:0 10px; cursor:pointer;}

.p-indexheader { position:absolute; right:38px; top:25px; z-index:100; font-size:14px;  padding:5px 14px; border-radius:5px; width:90px; 
                 background: rgba(172,172,172, 0.3);
                 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cacacac, endColorstr=#4cacacac);
                 }
.p-indexheader .p-headerSwitch{
    position:absolute;
    top:31px; right:0;
    background: rgba(109,101,101, 0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#196d6565, endColorstr=#196d6565);
    border:1px solid #d3d3d3;
    width:115px;
    border-radius:5px;
}
.p-indexheader .p-headerSwitch li {
    height:26px;
    line-height:26px;
    padding:5px 14px;
    cursor:pointer;
    }
.p-indexheader .p-headerSwitch li:hover{
    background: rgba(108,108,108, 0.15);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#266c6c6c, endColorstr=#266c6c6c);
}
/*-----全文搜索end-----*/
/*----隐藏显示浮动start-----*/
.p-hoverShow .p-hoverShow-itm,
.p-hoverShow.p-hoverShow_inline .p-hoverShow-itm,
.p-hoverShow.p-hoverShow_inlineblock .p-hoverShow-itm {
  display: none; }

.p-hoverShow:hover .p-hoverShow-itm {
  display: block; }

.p-hoverShow.p-hoverShow_inline:hover .p-hoverShow-itm {
  display: inline; }

.p-hoverShow.p-hoverShow_inlineblock:hover .p-hoverShow-itm {
  display: inline-block; }
  
.p-addIcon{
    display:inline;
    visibility:hidden;
}
.p-addTd:hover .p-addIcon{
    visibility:visible;
}
/*----隐藏显示浮动end-----*/
/*----透明度增减start-----*/
.p-transpart{ opacity:0.7; filter:alpha(opacity=70); -moz-opacity:0.7; -khtml-opacity: 0.7;}
.p-transpart:hover{ opacity:1; filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1;}
/*----透明度增减end-----*/
/*-@0400----元素-**栏-**bar 开始----*/
.p-saveBar {
  background-color: #ededef;
  border-top: 1px solid #c0b8b8;
  position: fixed;
  bottom: 0px;
  left:0px;
  z-index: 10000;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px; }
/*-@0300-------------------------------------------------元素开始--------------------------------------------*/
/*-@0310----元素-标题开始-----*/
.p-title_1 {
  font-size: 14px;
  color: #303030;
  border-bottom: 1px solid #bbbbbb;
  line-height: 25px;
  font-weight: bold;
  clear: both; }

.p-labelList {
    padding: 4px 0; margin: 10px 0px;
    background: rgba(238,238,238, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99eeeeee, endColorstr=#99eeeeee);
}
/*-----元素-标题结束-----*/
/*-----Ԫ元素-标记start----*/
.p-element_tag{border-radius:7px; padding:4px 12px; background-color:#e6e6e6; color:#444; margin-right:3px; display:inline-block; border:1px solid #f8f8f8; }
.p-element_tag_blue{ background-color: #2489c5; color:#fff;}
/*-----Ԫ元素-标记end----*/
/*-@0320----元素-图标开始-----*/
.p-icon-artTit,.p-icon_annex,.p-icon_reply,.p-icon_del,.p-icon_edit{width:16px; height:16px;  display:inline-block; vertical-align:middle;  cursor:pointer;}
.p-icon_del {
  background: url(../../../Images/icon/action_delete.png) no-repeat center;
  vertical-align: middle; }
.p-icon_edit {
  background: url(../../../Images/icon/reply.png) no-repeat center;
  vertical-align: middle; }
.p-icon_entry .p-icon_upload,.p-icon_entry .p-icon_user,.p-icon_entry .p-icon_off,.p-icon_entry .p-icon_favoriate,.p-icon_entry .p-icon_chart,.p-icon_entry .p-icon_password{ width:20px; height:20px; background: url(../../../images/client/InfoExpert/icon/icon_entry.png) no-repeat scroll center 0; display:inline-block; vertical-align:middle;}
.p-icon_entry .p-icon_user{ background-position: 0 -20px;}
.p-icon_entry .p-icon_off{ background-position:0 -40px;}
.p-icon_entry .p-icon_favoriate { background-position:0 -60px;}
.p-icon_entry .p-icon_chart { background-position:0 -80px;}
.p-icon_entry .p-icon_password { background-position:0 -100px;}
.p-icon-artTit{ background: url(../../../images/client/InfoExpert/icon/icon-artTit.png) no-repeat scroll center 0;}

.p-tablelist 
{
    display:inline-block;
    *zoom:1;
    *display:inline; 
    width:16px; 
    height:16px;
    margin-bottom:-2px;
	background: rgba(0, 0, 0, 0) url("../../../images/client/InfoExpert/icon/icon-tablelist.png") no-repeat scroll center center;
    
 }
.p-markbook  
{
    display:inline-block;
    *zoom:1;
    *display:inline; 
    width:16px; 
    height:16px;
    margin-bottom:-2px;
	background: rgba(0, 0, 0, 0) url("../../../images/client/InfoExpert/icon/icon-markbook.png") no-repeat scroll center center;
	}
.p-userlevel  
{
    display:inline-block;
    *zoom:1;
    *display:inline; 
    width:16px; 
    height:16px;
    margin-bottom:-2px;
	background: rgba(0, 0, 0, 0) url("../../../images/client/InfoExpert/icon/icon-userLevel.png") no-repeat scroll center center;
	}
.p-icon_annex{ background: url(../../../Images/icon/ico0013.png) no-repeat right center; }
.p-icon_user,.p-icon_browse,.p-icon_comment,.p-icon_label,.p-icon_comment_blue{ width:16px; height:16px; background: url(../../../images/client/InfoExpert/icon/icon_filemark.png) no-repeat scroll center 0; display:inline-block; vertical-align:middle; }
.p-icon_browse{ background-position: 0 -16px;}
.p-icon_comment{ background-position: 0 -32px;}
.p-icon_comment_blue{ background-position: 0 -64px;}
.p-icon_label{ background-position: 0 -48px;}

.p-icon_reply{ background: url(../../../images/client/InfoExpert/icon/icon_reply.png) no-repeat center center; margin-right:2px; }

/*-----元素-图标结束-----*/
/*-@0330----元素-按钮开始-----*/
.p-btn {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #9b212e;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
  border-radius:2px; }

.p-btn_large
{
  padding: 0px 24px;
  line-height: 32px;
  height: 32px;
  font-size:16px;
	}
.p-btn_mid {
  padding: 2px 7px;
  line-height: 18px;
  height: 18px;
  margin-right: 3px; }

.p-btn_min {
  line-height: 16px;
  height: 16px;
  padding: 1px 5px;
  margin-right: 3px;
  margin-bottom: 2px; }

.p-btn_blue{ background-color: #2489c5;}
/*-----元素-按钮结束----*/
/*-@0340----元素-页签开始-tab----*/

/*-----元素-页签结束-tab----*/
/*-@0350----元素-列表开始-list---*/
/*-----元素-列表结束----*/
/*-@0360----元素-表格开始-table----*/
.p-table td, .p-table th {
  padding: 6px 3px; }

.p-tableborder {
  border-top: 1px solid #C6C6C6;
  border-left: 1px solid #C6C6C6;
  border-right: 1px solid #C6C6C6;
  background-color: #ffffff; }

.p-tableborder td, .p-tableborder th{
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  height: 20px;
  padding: 6px 3px; }

.p-tableborder-title {
  background: #f3f3f3;
  font-weight: bold; }

.p-tableborder-subtit {
  background: #f3f3f3; }
  
.p-table_keyAndVal th {
  padding: 5px 3px;
  color: #808080;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  word-break:normal/*-解决冒号不单独换行，但会导致英文数字不自动截断-*/ }

.p-table_keyAndVal td {
  padding: 5px 3px;
  color: #323232;
  vertical-align: top; }

.p-table_keyAndVal_1 th {
  padding: 5px 3px;
  color: #808080;
  font-weight: normal;
  text-align: left;
  word-break:normal/*-解决冒号不单独换行，但会导致英文数字不自动截断-*/ }

.p-table_keyAndVal_1 td {
  padding: 5px 3px; }

.p-table_keyAndVal_2 td {
  padding: 2px 3px; }

.p-table_keyAndVal_3 td {
  padding: 8px 3px;
  border-bottom: 1px dotted #d7d7d7;
   }
.p-table_keyAndVal_3 tr:last-child td
{
	border-bottom: 0px;
	}
/*-----元素-表格结束----*/

/*-@0400----元素-文字-font 开始----*/
.p-f_blue {
  color: #0f1632; }

.p-f_brown {
  color: #785a3a; }

.p-f_brown_2 {
  color: #a6916a; }

.p-f_orange {
  color: #ff6600; }

.p-f_redBrown {
  color: #9b212e; }

/*-----元素-文字-font 结束----*/
/*-@0400----元素-超链接-a 开始----*/
.p-a_brown {
  color: #414141; }

.p-a_brown:hover {
  color: #323232;
  text-decoration: underline; }

.p-a_blue {
  color: #01638a; }

.p-a_blue:hover {
  color: #092a44; }

.p-a_redBrown {
  color: #414141; }
  
.p-a_redBrown:hover {
  color: #9b212e; }

/*-----元素-超链接-a 结束----*/
/*-----元素-背景- 开始----*/
.p-bg_gray {
    background-color:#fafafa;
}
.p-border_gray {
   border:1px solid #e6e6e6;
   border-radius:5px;
}
/*-----元素-背景- 结束----*/
/*-----元素-文本框input开始-----*/
.p-inputSel
{
	border:1px solid #82cbf6;
	background-color:#f6f9fd;
	}
/*-----元素-文本框input结束-----*/
/*-----元素-信息框开始-----*/
.p-infoTextBox_con {
    border: 1px solid #d7d7d7;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    float: left;
    padding: 6px 10px;
    min-width:90px;
    border-radius:12px;
    text-align:center;
    background: rgba(238,238,238, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2eeeeee, endColorstr=#b2eeeeee);
}
.p-infoTextBox_arrow {
    font-size: 26px;
    height: 26px;
    position: absolute;
    width: 26px;
}
.p-infoTextBox_arr {
    color: #f2f2f2;
    left: 20px;
    position: absolute;
    bottom:-21px;
}
.p-infoTextBox_arrline {
    color: #ddd;
    left: 20px;
    position: absolute;
    bottom:-22px;
}
/*-----元素-信息框结束-----*/
/*-----元素-收折折叠开始-----*/
.p-icon_folding,.p-icon_unfolding{ background: url(../../../images/client/InfoExpert/icon/icon_folding.png) no-repeat scroll center 0; width:14px; height:23px; display:inline-block; }
.p-icon_unfolding{ background-position:0 -23px;}
.p-icon_folding { background-position:0 0;}
.p-icon_Foldposition {
    padding:15px 2px;
    background-color:#eee;
    border-radius:0px 5px 5px 0px;
    position:absolute;
    top:250px;
    right:-23px;
    width:18px;
    font-size:16px;
    text-align:center;
    cursor:pointer;
}
/*-----元素-收折折叠结束-----*/
/*-----操作指引开始-----*/
.p-contextualMap .p-operation-notice{top:0; right:-25px; width:22px; height:22px; background-image:url(/../Content/images/client/InfoExpert/icon/icon-note.png);}
.p-contextualMap .p-operation-noticeBox{border-radius:3px; border:1px solid #ccc; background-color:White; padding:8px; width:215px; line-height:25px; top:0; right:0; display:none;}
.p-operation-notice:hover + .p-operation-noticeBox{ display:block;}
/*-----操作指引结束-----*/
/*-----在线聊天开始-----*/
.p-j-guide{right:-452px;z-index:998;position:fixed; top:20%;}

.p-GuiOperation {
    padding:15px 5px;
    background-color:#43a9e5;
    color:#fff;
    font-size:14px;
    border-radius:5px 0 0 5px;
    position:absolute;
    top:20%;
    left:-32px;
    width:22px;
    text-align:center;
    cursor:pointer;
}
.p-GuiContent {
    background-color:#fff;
    border:1px solid #e0e0e0;
    width:450px;
    height:479px;
    line-height:18px;
    font-size:14px;
    }
.p-GuiContent .infoContent{ padding:0px;overflow:hidden; height:450px;}

#userContainer{float:left; width:80px; height:100%; padding:10px;}

.messageContainer{ float:right; width:349px;}

#message{height:95px;border:none;box-shadow:none;}
#message div{ border:none; border-radius:none;}

.sendBox{background-color:#f3f3f3; text-align:right; height:33px; padding:4px;}
.p-GuiContent .head{
    background-color:#f3f3f3;
    border-bottom:1px solid #e0e0e0;
    padding:5px 8px;
}
.p-GuiContent .foot{
    background-color:#f3f3f3;
    padding:7px;
}
.p-messageBox_others p
{
    margin-left:5px;
    background-color:#fff;
    border:1px solid #ccc;
    padding:4px 10px;
    border-radius:8px;
    float:left;
    color:#333;
    max-width:270px;
    word-break: break-all;
    }
.p-messageBox_self p
{
    margin-right:5px;
    background-color:#ccf289;
    border:1px solid #ccc;
    padding:4px 10px;
    border-radius:8px;
    float:right;
    color:#333;
    max-width:270px;
    word-break: break-all;
    }
/*-----在线聊天结束-----*/
/*-----文章排序选择-----*/
.p-ArticleSort li {
    border:1px solid #d3d3d3;
    padding:3px 8px;
    cursor:pointer;
    float: left;
    margin-left: -1px;
    color:#777;
}
.p-ArticleSort li.select{
    background-color:#f1f1f1;
    color:#9b212e;
}
.p-ArticleSort li:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.p-ArticleSort li:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*-----文章排序选择end-----*/
/*-----卡片模式-模块化视图-start----*/
.p-module_article > li {
     float:left;
     width:253px;
     height:115px;
     border:1px solid #e5e5e5;
     margin:10px;
     border-radius:6px;
     padding:10px;
     background-color:#fff;
}
.p-module_article > li:hover {
    box-shadow:0 1px 4px #d3d3d3;
     }
.p-module_article > li > .ArtContent {
     height:92px;
     overflow:hidden;
     margin-bottom:5px;
}
.p-module_article > li > .Artdesign {
     color:gray;
     border-top: 1px dotted #d9d9d9;
     padding-top:5px;
}
.p-module_article_1 > li {
     width:350px;
     height:152px;
}
.p-module_article_1 > li > .ArtContent {
     height:125px;
}
.p-listadd {
    color:#ccc;
    text-align:center;
}
.p-listadd a{
    font-size:70px;
    color:#ddd;
    text-decoration:none;
    line-height:122px;
}
/*-----卡片模式-模块化视图-end----*/
/*-----元素-小导航start-----*/
.p-FiletBannerL {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: bold;
    left: 70%;
    position: fixed;
    top: 38%;
    background-color:#fff;
    padding:15px;
    box-shadow:0 1px 4px #d3d3d3;
    border-radius:5px;
}
.p-FiletBannerL .p-icon_arrows {
    float:right;
    margin-right:-5px;
    margin-top:-5px;
    color:#919191;
    cursor:pointer;
    }
.p-FiletBannerL .Sline {
    border-left: 1px solid #ddd;
}
.p-FiletBannerL > ul > li {
    cursor: pointer;
}
.p-FiletBannerL > ul > li:hover,.p-FiletBannerL > ul > li > a.select {
    color: #9b212e;
}
.p-FiletBannerL > ul > li .circle {
    color: #a2a2a2;
    margin-left: -5px;
    margin-right: 5px;
}
.p-FiletBannerL .select .circle {
    color: #9b212e;
    font-size: 20px;
    margin-left: -17px;
}
.p-FiletBannerL .BNum {
    color: #a2a2a2;
    font-weight: normal;
}
/*-----元素-小导航end-----*/

/*-----个人中心页面start-----*/

/*-----个人信息模块-----*/
.p-personalInfoBox{ margin-bottom:75px;}
.p-personalInfoBox .p-userImg{background-color:White; width:186px; height:186px;}
.p-personalInfoBox .personalInfo{ float:left; padding-left:30px; padding-top:15px;}
.personalInfo .userName{width:382px; padding-bottom:15px;}
.userName .name{font-size:22px; letter-spacing:3px; float:left;}
.userName .userlevel
{
    float:left;
    font-style:italic; 
    font-weight:bold;
    color:#e03a24; 
    padding:2px 10px 1px 8px; 
    border:1px solid #e03a24; 
    border-radius:10px; 
    margin-top:5px; 
    margin-left:5px;
    }
.personalInfo .userDetail li{line-height:20px; letter-spacing:2px; color:#666666; margin-bottom:10px;}
.userDetail li span{color:#00a3e0;}
.userDetail .p-infoEdit
{
    background-image:url(../../../images/client/InfoExpert/icon/icon-edit.png); 
    width:16px; 
    height:16px;
    display:block;
    margin-top:5px;
    float:right;
    cursor:pointer;
    }
    
/*-----等级详情-----*/
.p-curLevel{ margin-top:30px; margin-bottom:20px; color:#666666;}
.p-curLevel span{font-style:italic; color:#e03a24; font-size:20px; font-weight:bold;}
.p-levelExp{background-color:#e5e5e5; border-radius:4px; height:10px; width:100%;}
.p-levelExp .p-curExp{background-color:#ff8080; border-radius:4px; height:10px;}

.p-needLevel{ margin-top:50px; margin-bottom:20px; color:#666666;}
.p-needLevel span{font-style:italic; color:#e03a24; font-size:12px; font-weight:bold; margin-right:5px;}
.p-needLevel i{color:#00a3e0; font-size:14px; font-weight:bold; margin-left:5px;}

/*-----获奖记录-----*/
.p-awardList{max-height:500px; overflow-y:auto;}
.p-awardList .month{width:110px; color:#5a5a5a; float:left; padding-top:10px; font-size:14px;}
.p-awardList .awardList
{
    color:#989898; 
    padding-left:40px;
    background:url(../../../images/client/InfoExpert/timeLine.png) repeat-y left top ;
    float:left;
    padding-top:10px;
    padding-bottom:20px;
    position:relative;
    }
.awardList li{ line-height:25px;}
.awardList li span{color:#00a3e0; margin-left:20px; margin-right:20px;}
.awardList .point{width:8px; height:8px; background-color:#ff8080;border-radius: 50%;left:0;top:14px; position:absolute;}
/*-----个人中心页面end-----*/

/*-----联想列表start-----*/
.p-searchList_bg {
    background-color:#fff;
    border:1px solid #d3d3d3;
    width:398px;
    z-index:1000;
    padding:5px;
    max-height:440px;
    overflow-y:auto;
}
.p-searchList_bg li {
    line-height: 24px; padding:2px 6px; border-bottom:1px dotted #e2e2e2; color:#666666;
    }
.p-searchList_bg li:hover {
    color:#c6122c;
    }
.p-searchList_bg li.active{
    color:#c6122c;
    }
/*-----联想列表end-----*/
/*----------关系图----------*/
.node>rect,.node>circle{
    stroke-width: 1;
    stroke: #ddd;
    }
.pText{
    fill:#fff;
}
.line {
    stroke: #555;
    stroke-opacity: .4;
}
.link-active {
    stroke-opacity: 1;
}
.node-active>circle{
    stroke: #555;
    stroke-width: 1.5px;
}
.overlay {
    fill: none;
    pointer-events: all;
}
.link-remove{
    stroke:red;
    stroke-width:2px;
}
.link-disable circle{
    fill:#ddd !important;
}
.link-add{
    stroke:green;
    stroke-width:2px;
}
.text,.menu{
    stroke: none;
}
.p-j-fullPage{
    position:fixed !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
    max-height:100% !important;
    background:#fff;
    margin-top:0 !important;
    z-index:9999 !important;
}
.icon-fullPage{
    background: rgba(0, 0, 0, 0) url("../../../images/client/InfoExpert/icon/icon-fullpage.png") no-repeat scroll center center;
    display:inline-block;
    *zoom:1;
    *display:inline; 
    width:36px; 
    height:36px;
    cursor:pointer;
}
.icon-fullPage_exit{
    background: rgba(0, 0, 0, 0) url("../../../images/client/InfoExpert/icon/icon-escfullpage.png") no-repeat scroll center center;
    display:inline-block;
    *zoom:1;
    *display:inline; 
    width:36px; 
    cursor:pointer;
    height:36px;
}
.link-click{
    stroke-dasharray: 8;
    stroke-width: 2;
    stroke: #000;
}
.link-click text
{
    stroke: none;
    }
/*----------关系图 End----------*/
/*----------脉络图编辑--start----------*/
.p-icon_nodeAdd,.p-icon_nodeDel,.p-icon_LinkAdd,.p-icon_LinkDel,.p-icon_UpArticle{background: url(../../../images/client/InfoExpert/icon/icon_eidtmenu.png) no-repeat scroll center 0;display:inline-block;}
.p-icon_nodeAdd{ background-position:0 0;}
.p-icon_nodeDel{ background-position:0 -16px;}
.p-icon_LinkAdd{ background-position:0 -32px;}
.p-icon_LinkDel{ background-position:0 -48px;}
.p-icon_UpArticle{ background-position:0 -64px;}
.menu {
    text-align:left;
}
.menu_list {
    height:22px;line-height:22px;
}
/*----------脉络图编辑--end----------*/

/*----------红包--start----------*/
    /*----------红包记录------------*/
.contain_record{height:330px; overflow-y:auto;}
.contain_record li{word-spacing:8px;color:#999; line-height:25px;}
.contain_record li span{color:#ff6c6c;}
.contain_record li i{width:16px; height:16px;display:inline-block;margin-bottom:-3px; margin-left:5px;}
.contain_record li .icon-redBag{background-image:url(/../../Content/images/client/InfoExpert/icon/icon-redBag.png); }
.p-icon-moneyBag{background-image:url(/../../Content/images/client/InfoExpert/icon/icon-money.png); width:16px; height:16px;display:inline-block;margin-bottom:-3px; margin-left:5px;}
    /*----------红包动画------------*/
.p-j-redBag
{
    width:500px; 
    height:500px; 
    position:fixed; 
    top:25%; 
    left:50%; 
    margin-top:-350px; 
    margin-left:-206px;
    }
.p-j-redBag .p-j-openBag{width:70px; height:70px;position:absolute;top:320px;left:218px; cursor:pointer;}
.p-j-redBag .p-j-openedBag{position: absolute; top: 100px; left: 5px; width: 500px; height: 260px;color: white; text-align: center}
.p-j-openedBag .sumMoney{margin-top: 110px; margin-bottom: 10px;}
.p-j-openedBag a{padding: 5px 30px; background-color: white; color: red; font-size: 12px; cursor:pointer;}
.p-j-redBag_content{width:500px; height:500px;position: absolute; z-index:1000;background:url(/../../Content/images/client/InfoExpert/luckyMoney1.png) no-repeat center bottom; }
.p-bg{position: absolute;z-index: 999;border-radius:50%;background:url(/../../Content/images/client/InfoExpert/light.png) 0px 0px no-repeat;background-size:500px auto;width:500px;height:500px; max-height:100%; left:45%;margin-left:-225px;top:22%;}
.p-rotate{animation: rotate 10s  infinite  linear;}
@keyframes rotate {
    0% {
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
    }

}
/*----------红包--end----------*/

/*----------积分兑换----------*/
.p-title1{font-size:22px; padding-bottom:15px; border-bottom:1px solid #aaa; margin-bottom:20px; font-weight:bold;}
.p-itemBox .money{padding-bottom:12px; font-size:16px; color:#333; margin-bottom:15px; font-weight:bold;}
.p-itemBox .money span{font-size:25px; color:#ec2c2c;}
.p-itemBox .item{padding:15px 0; font-size:16px; color:#888; cursor:pointer;}
.p-itemBox .item a{padding-left:36px;}
.p-itemBox .item.active{color:#333; background-color:#eee; font-weight:bold;}
.p-itemBox .item.active a{padding-left:33px;border-left:3px solid #ec2c2c;}
.p-itemBox .item:hover{color:#333; background-color:#eee;}
.p-icon-moneyBag{background-image:url(/../Content/images/client/InfoExpert/icon/icon-money.png); width:22px; height:22px;display:inline-block;margin-bottom:-3px;}

.p-exchangeList li{margin-right:30px; margin-bottom:20px; float:left; text-align:center;}
.p-exchangeList li:hover{box-shadow:0 0 5px #666; cursor:pointer;}
.p-exchangeList li .exchangeImg{width:263px; height:263px; display:table-cell; vertical-align:middle;}
.p-exchangeList li .exchangeImg img{ display:block;}
.p-exchangeList li .exchangeName{background-color:#efefef; height:70px; font-size:14px; padding:5px; border:1px solid #ccc;}
/*----------积分兑换--end----------*/

/*----------动画--start----------*/
.animated
        {
            -webkit-animation-duration:1s;
            animation-duration:1s;
            -webkit-animation-fill-mode:both;
            animation-fill-mode:both
            }
        @-webkit-keyframes 
        swing
        {
            20%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}
            40%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}
            60%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}
            80%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}
            100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
            }
        @keyframes 
        swing
        {
            20%{-webkit-transform:rotate(15deg);-ms-transform:rotate(15deg);transform:rotate(15deg)}
            40%{-webkit-transform:rotate(-10deg);-ms-transform:rotate(-10deg);transform:rotate(-10deg)}
            60%{-webkit-transform:rotate(5deg);-ms-transform:rotate(5deg);transform:rotate(5deg)}
            80%{-webkit-transform:rotate(-5deg);-ms-transform:rotate(-5deg);transform:rotate(-5deg)}
            100%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}
            }
        .swing
        {
            -webkit-transform-origin:top center;
            -ms-transform-origin:top center;
            transform-origin:top center;
            -webkit-animation-name:swing;animation-name:swing
            }
            
            
        @-webkit-keyframes 
        bounceIn
        {
            0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}
            50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}
            70%{-webkit-transform:scale(.9);transform:scale(.9)}
            100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
            }
        @keyframes 
        bounceIn
        {
            0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}
            50%{opacity:1;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}
            70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}
            100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
            }
        .bounceIn
        {
            -webkit-animation-name:bounceIn;
            animation-name:bounceIn
            }
            
        @-webkit-keyframes 
        flip
        {
            0%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0) scale(1);transform:perspective(400px) translateZ(0) rotateY(0) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
            40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(170deg) scale(1);transform:perspective(400px) translateZ(150px) rotateY(170deg) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
            50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
            80%{-webkit-transform:perspective(400px) translateZ(0) rotateY(360deg) scale(.95);transform:perspective(400px) translateZ(0) rotateY(360deg) scale(.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
            100%{-webkit-transform:perspective(400px) translateZ(0) rotateY(360deg) scale(1);transform:perspective(400px) translateZ(0) rotateY(360deg) scale(1);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
            }
        @keyframes 
        flip
        {
            0%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0) scale(1);-ms-transform:perspective(400px) translateZ(0) rotateY(0) scale(1);transform:perspective(400px) translateZ(0) rotateY(0) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
            40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(170deg) scale(1);-ms-transform:perspective(400px) translateZ(150px) rotateY(170deg) scale(1);transform:perspective(400px) translateZ(150px) rotateY(170deg) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
            50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-ms-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
            80%{-webkit-transform:perspective(400px) translateZ(0) rotateY(360deg) scale(.95);-ms-transform:perspective(400px) translateZ(0) rotateY(360deg) scale(.95);transform:perspective(400px) translateZ(0) rotateY(360deg) scale(.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
            100%{-webkit-transform:perspective(400px) translateZ(0) rotateY(360deg) scale(1);-ms-transform:perspective(400px) translateZ(0) rotateY(360deg) scale(1);transform:perspective(400px) translateZ(0) rotateY(360deg) scale(1);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
            }
        .flip
        {
            -webkit-backface-visibility:visible;
            -ms-backface-visibility:visible;
            backface-visibility:visible;
            -webkit-animation-name:flip;
            animation-name:flip
            }
/*----------动画--end----------*/
